EXPO_PUBLIC_FIREBASE_API_KEY=your-firebase-api-key
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=your-project.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=your-project-id
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=your-project.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your-messaging-sender-id
EXPO_PUBLIC_FIREBASE_APP_ID=your-firebase-app-id
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=your-measurement-id

# AdMob Configurations
EXPO_PUBLIC_ADMOB_ANDROID_APP_ID=your-admob-android-app-id
EXPO_PUBLIC_ADMOB_IOS_APP_ID=your-admob-ios-app-id
EXPO_PUBLIC_ADMOB_BANNER_UNIT_ID_ANDROID=your-admob-banner-unit-id-android
EXPO_PUBLIC_ADMOB_BANNER_UNIT_ID_IOS=your-admob-banner-unit-id-ios
EXPO_PUBLIC_ADMOB_INTERSTITIAL_UNIT_ID_ANDROID=your-admob-interstitial-unit-id-android
EXPO_PUBLIC_ADMOB_INTERSTITIAL_UNIT_ID_IOS=your-admob-interstitial-unit-id-ios
EXPO_PUBLIC_ADMOB_APP_OPEN_UNIT_ID_ANDROID=your-admob-app-open-unit-id-android
EXPO_PUBLIC_ADMOB_APP_OPEN_UNIT_ID_IOS=your-admob-app-open-unit-id-ios
EXPO_PUBLIC_ADMOB_NATIVE_UNIT_ID_ANDROID=your-admob-native-unit-id-android
EXPO_PUBLIC_ADMOB_NATIVE_UNIT_ID_IOS=your-admob-native-unit-id-ios
